@import "tailwindcss";

@theme {
  --color-brand-blue: #2596be;
  --color-brand-green: #a0d053;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
